nav {
    border: 2px solid #9e9d99;
    border-radius: 5px;
    background-color: #fefefe;
    height: 85px;
}

body {
    background-color: #f9fbfd;
}

/*top*/
div.top {
    background-image: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%), url("../imanges/bg_movies/bg_XSCNT.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #d2d2d2;
    justify-content: space-around;
}

div.top > div:first-child {
    width: 20%;
}

div.top img {
    width: 70%;
    border-radius: 5px;
    border: 1px solid white;
}

div.contents {
    width:50%;
}

div.contents div{
    margin-top: 5px;
    padding: 5px;
}

div.top span, i, h2 {
    font-weight: bold;
    color: white;
}

div.actor > div{
    margin-top: 5px;
    padding: 5px;
}

/*date*/
ul.date{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
}

ul.date > li > a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #262626;
    font-weight: bold;
    text-align: center;
}

ul.date > li > a:hover {
    color: white;
    background-color: slategrey;
}

ul.date span {
    font-weight: lighter;
    font-size: 0.9rem;
}

/*ticket*/
section.right {
    width: 30%;
    position: relative;
    top: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

section.left {
    width: 70%;
    position: relative;
    top: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

div.ticket {
    width: 90%;
}

/*cinema-ticket*/
ul.cinema-ticket {
    margin-top: 0;
    padding: 0;
}

ul.cinema-ticket > li {
    list-style-type: none;
    border: 1px solid;
    border-top: none;
}

ul.cinema-ticket i {
    color: #262626;
}

ul.cinema-ticket > li > a {
    text-decoration: none;
    color: black;
}

ul.cinema-ticket img {
    width: 78px;
    border-radius: 10px;
    margin-top: 3px;
}

div.name {
    width: 40%;
}

div.name > div{
    padding: 5px;
}

ul.submenu-cinema {
    padding: 0;
}

ul.submenu-cinema > li {
    list-style-type: none;
    padding: 6px;
    background-color: #d2d2d2;
    border-top: 1px solid #262626;
    padding-left: 20px;
}

ul.submenu-cinema > li > a {
    text-decoration: none;
    color: black;
}

/*selectCM*/
div.selectCM > a {
    text-decoration: none;
    color: black;
}

div.selectCM {
    padding-left: 15px;
}

/*right*/
div.review {
    border: 1px solid #edf2f9;
    border-radius: 10px;
    margin: 5px;
}

div.review hr {
    width: 90%;
}

div.right-name {
    text-align: center;
    font-size: large;
    background-color: #d2d2d2;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

div.content-review {
    padding: 5px;
    padding-left: 15px;
}

div.content-review > a {
    text-decoration: none;
}

div.content-review > a > div:first-child {
    text-transform: capitalize;
    padding-bottom: 5px;
    color: black;
}

div.content-review > a > div:last-child {
    font-size: 0.9rem;
    color: firebrick;
}



/* #9e9d99 hover */