nav {
    border: 2px solid #9e9d99;
    border-radius: 5px;
    background-color: #fefefe;
    height: 85px;
}

.around {
    justify-content: space-around;
}

/*movies*/
section {
    margin: 8px;
}

main > section:nth-child(2) .subject{
    background-image: linear-gradient(to left, #c31432 0%, #281138 80%);
}

main > section:nth-child(2) div.btn > a:hover > button {
    background-color: maroon;
}

div.movies {
    border: 1px solid #edf2f9;
    border-radius: 0 0 10px 10px;
    flex-wrap: wrap;
    background-image: url(../images/bgMV.jpg);
    
}

div.movie {
    box-sizing: border-box;
    width: 19.3%;
    border: 1px solid white ;
    border-radius: 10px;
    height: 490px;
    margin: 4px;
    margin-top: 10px;
    border-top: transparent;
    overflow: hidden;
}

div.movie img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-style: none;
}

div.movie a {
    text-decoration: none;
    color: white;
}

div.content-mv {
    padding-left: 1rem;
}

div.movie img:hover {
    transform: scale(1.109);
}

/*subject*/
.subject {
    text-align: center;
    background-image: linear-gradient(to right, #13547a 0%, #092662 80%);
    color: whitesmoke;
    margin-bottom: 0;
    padding: 1rem;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

/*btn-more*/
div.btn > a > button {
    color: black;
    font-weight: bold;
    font-size: large;
    padding: 18px 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 540px;
    background-color: #edf2f9;
    border-radius: 20px;
    border: 2px solid;
}

div.btn > a:hover > button {
    background-color: #2f4455;
    transition-duration: .15s;
    color: #fefefe;
    border-color: #edf2f9;
}

div.btn  a {
    text-decoration: none;
    
}

div.btn > a > button.btn-new {
    font-weight: bold;
    font-size: medium;
    background-color: white;
    color: #262626;
    border: 2px solid;
    padding: 10px 15px;
    border-radius: 8px;
}

div.btn > a:hover > button.btn-new {
    background-color: #c0bfba;
}

i.fa-arrow-down-long {
    animation: more 1s infinite;
}

@keyframes more {
    0%, 100% {
        transform: translateY(-30%);
        animation-timing-function: cubic-bezier(.8,0,1,1);
    }
  
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,.2,1);
    }
}

/*cinema*/
div.cinemas {
    padding: 8px;
    flex-wrap: wrap;
}

div.cinema {
    width: 48%;
    justify-content: space-around;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 20px;
    margin-top: 10px;
    height: 141px;
    background-color: white;
}

div.cinema  img {
    width: 45%;
    padding-left: 40px;
    padding-top: 15px;
}

/* div.cinema  img:hover {
    transform: rotate(30deg);
} */

div.cinema a {
    text-decoration: none;
    color: #262626;
}

div.content-cm {
    padding-right: 2rem;
}

div.cinema:hover {
    border: 1.4px solid;
}

/*slider*/
.slider {
    border: 1.5px solid #262626;
    border-radius: 5px;
    margin-top: 5px;
    padding: 3px 0 3px 0;
    background-color: white;
}

.slider-content {
    position: relative;
}

.slider-content > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.mv-slider {
    position: relative;
    top: 0;
}

.mv-slider img {
    width: 100%;
    top: 0;
}

.mv-slider-ct {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    color: white; 
    padding: 5px;
}

.mv-slider-ct > div:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.content-cm > div{
    padding: 5px;
}

/*buttons*/
.buttons {
    margin: 5px;
    text-align: center;
}

.button {
    background-color: gainsboro;
    border-radius: 5px;
    box-shadow: 0 9px #999;
}

.active {
    background-color: #2f4455;
    color: white !important;
    box-shadow: 0 3px #666;
    transform: translateY(1px);
    font-weight: bold;
}

.button:hover {
    background-color: #2f4455;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 30px 0 rgba(0,0,0,0.19);
}

/*news*/
div.news {
    margin: 10px;
    background-color: #edf2f9;
    margin-top: 0;
}

div.new > a {
    text-decoration: none;
}

div.new div{
    padding: 5px 0 5px 2px;
}

div.new img{
    width: 100%;
}

div.new span {
    color: sienna;
}

div.new-content {
    width: 100%;
}

div.new-content > div{
    padding-left: 40px;
}

div.new-content > div:first-child {
    font-size: large;
    font-weight: bold;
    color: #c31432;
}

div.new-content > div:last-child {
    color: grey;
}






