nav {
    background-color: white;
    height: 85px;
}

body {
    background-color: #f9fbfd;
}

/*top*/
div.top {
    background-image: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%), url("../imanges/bg_movies/bg_XSCNT.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #d2d2d2;
    justify-content: space-around;
}

div.top > div:first-child {
    width: 20%;
}

div.top img {
    width: 70%;
    border-radius: 5px;
    border: 1px solid white;
}

div.contents {
    width:50%;
}

div.contents div{
    margin-top: 5px;
    padding: 5px;
}

div.top span, i, h2 {
    font-weight: bold;
    color: white;
}

div.actor > div{
    margin-top: 5px;
    padding: 5px;
}

/*date*/
ul.date{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
}

ul.date > li > a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #262626;
    font-weight: bold;
    text-align: center;
}

ul.date span {
    font-weight: lighter;
    font-size: 0.9rem;
}

/*ticket*/
div.ticket {
    width: 70%;
}

/*cinema-ticket*/
ul.cinema-ticket {
    margin-top: 0;
    padding: 0;
}

ul.cinema-ticket > li {
    list-style-type: none;
    border: 1px solid;
    border-top: none;
}

ul.cinema-ticket i {
    color: #262626;
}

ul.cinema-ticket > li > a {
    text-decoration: none;
    color: black;
}

ul.cinema-ticket img {
    width: 78px;
}

div.name {
    width: 40%;
}

div.name > div{
    padding: 5px;
}

/* #9e9d99 hover */