nav {
    border: 2px solid #9e9d99;
    border-radius: 5px;
    background-color: #fefefe;
    height: 85px;
}

/*select*/
div.select > ul {
    margin: 20px;
}

ul.cates {
    padding: 3px 5px;
    margin: 0;
}

ul.cates a {
    text-decoration: none;
    color: #010101;
    margin: 3px;
}

ul.cates li {
    list-style-type: none;
}

ul.cates > li:first-child {
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    padding-top: 4px;
    width: 110px;
}

ul.cates > li:nth-child(2) {
    padding-left: 25px;
}

ul.cate {
    border: 1px solid;
    width: 9%;
    display: none;
    position: absolute;
    border-radius: 5px;
}

ul.cates:hover ul.cate {
    display: block ;
    padding-left: 30px;
    z-index: 3;
    background-color: #d2d2d2;
}

ul.cate > li {
    list-style-type: none;
    margin: 4px;
}

ul.cate > li > a {
    text-decoration: none;
    color: #010101;
    margin-left: 1px;
    display: block;
    padding: 1px;
}

/*movies*/
div.movies  {
    flex-wrap: wrap;
}

div.movie {
    width: 18%;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
    height: 460px;
    margin: 9px;
    overflow: hidden;
}

div.movie > a {
    text-decoration: none;
    color: #010101;
}

div.movie img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-style: none;
    height: 60%;
}

div.movie img:hover {
    transform: scale(1.109);
}

div.movie:hover {
    border: 2px solid;
}

div.content-mv {
    padding-left: 1rem;
}

div.content-mv h3 {
    font-size: medium;
}

h1 {
    text-align: center;
    border: 1px solid;
    padding: 5px;
    background-image: linear-gradient(to right, #b92b27 0%, #1565c0 100%);
    color: whitesmoke;
}

/*search*/
div.search a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 600px) {
    body {
        background-color: beige;
    }
}


