nav {
    border: 2px solid #9e9d99;
    border-radius: 5px;
    background-color: white;
    height: 85px;
}

/*movies*/
section {
    margin: 8px;
}

div.movies {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    border: 1px solid #edf2f9;
    border-radius: 0 0 10px 10px;
    flex-wrap: wrap;
}

div.movie {
    box-sizing: border-box;
    width: 19.3%;
    border: 1px solid white ;
    border-radius: 10px;
    height: 490px;
    margin: 4px;
    margin-top: 10px;
    border-top: transparent;
}

div.movie img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-style: none;
}

div.movie a {
    text-decoration: none;
    color: white;
}

div.content-mv {
    padding-left: 1rem;
}

/*subject*/
.subject {
    text-align: center;
    background-image: linear-gradient(to top, #13547a 0%, #0c3483 100%);
    color: whitesmoke;
    margin-bottom: 0;
    padding: 1rem;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

/*btn-more*/
div.movies > div.btn > a > button {
    color: #f2f2f2;
    font-weight: bold;
    font-size: large;
    padding: 18px 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 540px;
    background-color: #2f4455;
    border-radius: 20px;
    border: 1px solid  #edf2f9;
}

div.btn  a {
    text-decoration: none;
    
}

i.fa-arrow-down-long {
    animation: more 1s infinite;
}

@keyframes more {
    0%, 100% {
        transform: translateY(-30%);
        animation-timing-function: cubic-bezier(.8,0,1,1);
    }
  
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,.2,1);
    }
}

/*cinema*/
div.cinemas {
    padding: 8px;
    flex-wrap: wrap;
}

div.cinema {
    width: 48%;
    justify-content: space-around;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 20px;
    margin-top: 10px;
    height: 141px;
}

div.cinema  img {
    width: 45%;
    padding-left: 40px;
    padding-top: 15px;
}

div.cinema a {
    text-decoration: none;
    color: #262626;
}

div.content-cm {
    padding-right: 2rem;
}

/*slider*/
.slider {
    z-index: 89;
}

/* div.slider-content {
    position: relative;
}

div.slider-content > div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
} */

main > section:first-child {
    margin-top: 600px;
}





