nav {
    border: 2px solid #9e9d99;
    border-radius: 5px;
    background-color: #fefefe;
    height: 85px;
}

/*seat*/
div.seats {
    margin-right: 20px;
    margin-left: 20px;
}

div.seat {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

div.normal {
    background-color: darkseagreen;
}

div.vip {
    background-color: #ffcc00;
}

div.couple {
    background-color: cornflowerblue;
}