body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    border: 2px solid #9e9d99;
    border-radius: 5px;
    background-color: white;
    height: 85px;
}

main {
    margin: 8px;
}

.flex {
    display: flex;
    align-items: center;
}

.between {
    justify-content: space-between;
}

/*MENU*/
ul.menu {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul.menu > li > a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: #4d6e9b;
    font-weight: bold;
    
}

/*hover*/
ul.menu > li > a:hover {
    color: #265078;
    font-size: larger;
    font-weight: bolder;
}

ul > li > a > i.fa-solid {
    color: #4d6e9b;
    padding: 0.5rem;
}

ul > li > a:hover i.fa-solid {
    color: #265078;
}

ul.left {
    width: 50%;
}

ul.right {
    width: 20%;
    margin-left: 250px;
}

ul.right > li {
    margin: 20px;
}

/*submenu*/
ul.submenu { 
    display: none;
    position: absolute;
    background-color: #f3f1f4 !important;
    width: 200px;
    border-radius: 2rem;
    text-align: left;
    z-index: 2;
}

.submenu::after {
    border-style: solid;
    border-color: transparent transparent #f3f1f4 transparent;
    border-width: 10px;
    position: absolute;
    bottom: 100%;
    content: "";
    width: 0;
    height: 0;
    left: 34px;
}

ul.menu li.sub:hover ul.submenu { 
    display: block !important;
    padding: 0.375rem 1.5rem;
    clear: both;
    font-weight: initial;
    color: #6e84a3;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/* go to top */
#go {
    display: block;
    padding: 1rem;
    right: 10px;
    bottom: 10px;
    position: fixed;
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 0.35em 0.35em 0 0 rgba(15, 28, 63, 0.125);
    border: 1px solid #edf2f9;
}

#go i {
    color: #6f2232;
}

/*footer*/
footer {
    background-color: #010101;
    color: #d2d2d2;
}

footer div {
    justify-content: space-around;
}

div.imgFooter {
    width: 14%;
}

div.imgFooter img{
    width: 50%;
    border-radius: 40%;
    border: 2px solid transparent;
    box-shadow: 0.5em 0.5em 0 0 #262626;
}

ul.list-ft > li:first-child{
    list-style-type: none;
    color: #edf2f9;
}

ul.list-ft > li {
    list-style-type: "\27A2 \2003";
    margin: 3px;
}

.list-ft > li > a {
    text-decoration: none;
    color: #d2d2d2;
}

.list-ft > li > a:hover {
    color: #edf2f9;
    font-weight: bold;
}

div.footer {
    width: 30%;
}

div.footer img{
    width: 100%;
    height: 206px;
}

table {
    border-spacing: 10px;
    width: 330px;
}

a.link {
    text-decoration: none;
    color: #d2d2d2;
}

a.link:hover {
    color: #edf2f9;
    font-weight: bold;
}

/*select*/
div.select {
    width: 20%;
}

div.select > ul {
    margin: 5px;
}

ul.cates {
    padding: 2px 5px;
    margin: 0;
}

ul.cates a {
    text-decoration: none;
    color: #010101;
    margin: 3px;
}

ul.cates li {
    list-style-type: none;
}

ul.cates > li:first-child {
    border: 1px solid;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    height: 22px;
    padding-top: 4px;
}

ul.cates > li:nth-child(2) {
    padding-left: 25px;
}

ul.cate {
    border: 1px solid;
    width: 9%;
    display: none;
    position: absolute;
    border-radius: 5px;
}

ul.cates:hover ul.cate {
    display: block ;
    padding-left: 30px;
    z-index: 3;
    background-color: #d2d2d2;
}

ul.cate > li {
    list-style-type: none;
    margin: 4px;
}

ul.cate > li > a {
    text-decoration: none;
    color: #010101;
    margin-left: 1px;
    display: block;
    padding: 1px;
}

/*movies*/
div.movies  {
    flex-wrap: wrap;
    width: 80%;
}

div.movie {
    width: 18%;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
    height: 400px;
    margin: 9px;
}

div.movie img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-style: none;
}

div.content-mv {
    padding-left: 1rem;
}

div.content-mv h3 {
    font-size: medium;
}

h1 {
    text-align: center;
    border: 1px solid;
    padding: 5px;
    background-image: linear-gradient(to right, #b92b27 0%, #1565c0 100%);
    color: whitesmoke;
}



