nav {
    border: 2px solid #9e9d99;
    border-radius: 5px;
    background-color: #fefefe;
    height: 85px;
}

/*Search*/
div.search a {
    text-decoration: none;
}

div.search  > a > i {
    color: #413e3e;
}

div.search  > a > input{
    border-radius: 0.3rem ;
    width: 200px;
    height: 25px;
    border-style: solid;
    border-color: #9e9d99;
}

div.search  > a:hover > input{
    border-color: #265078;
    border-width: 2.5px;
}

/* @keyframes search {
    from {
        border: 1px solid;
    }
    to {
        border: 1px solid #6f2232;
    }
}

.searchAni {
    animation: search 1s 3;
} */

/*cinema*/
section.left > div {
    margin: 20px;
    top: 0;
}

section.left {
    width: 30%;
    position: relative;
    top: 0;
}

section.right {
    width: 70%;
    background-color: #265078;
}

section.cinemaLoca > div:nth-child(2) > a > select{
    height: 40px;
    width: 170px;
    border-radius: 2px;
}

div.theater {
    border: 1px solid;
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 8px;
    padding-top: 8px;
}

div.theater  img {
    width: 17%;
}

div.mvTheater a {
    text-decoration: none;
    color: #262626;
}

div.content {
    width: 70%;
    padding-right: 100px;
}

/*aside*/
/* aside > h3{
    right: 0;
} */

