body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    border: 2px solid #9e9d99;
    border-radius: 5px;
    background-color: white;
}

.flex {
    display: flex;
    align-items: center;
}

.between {
    justify-content: space-between;
}

/*MENU*/
ul.menu {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul.menu > li > a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: #4d6e9b;
    font-weight: bold;
    
}

/*hover*/
ul.menu > li > a:hover {
    color: #265078;
    font-size: larger;
    font-weight: bolder;
}

ul > li > a > i.fa-solid {
    color: #4d6e9b;
    padding: 0.5rem;
}

ul > li > a:hover i.fa-solid {
    color: #265078;
}

/*submenu*/
ul.submenu { 
    display: none;
    position: absolute;
    background-color: #f3f1f4 !important;
    width: 200px;
    border-radius: 2rem;
    text-align: left;
    z-index: 2;
}

.submenu::after {
    border-style: solid;
    border-color: transparent transparent #f3f1f4 transparent;
    border-width: 10px;
    position: absolute;
    bottom: 100%;
    content: "";
    width: 0;
    height: 0;
    left: 34px;
}

/* chưa vào được */
ul.menu li.sub:hover ul.submenu { 
    display: block !important;
    padding: 0.375rem 1.5rem;
    clear: both;
    font-weight: initial;
    color: #6e84a3;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/*Search*/
ul > li.search  > a > input{
    border-radius: 0.4rem ;
    width: 200px;
    height: 25px;
    border-style: solid;
    border-color: #4d6e9b;
}

ul > li.search  > a:hover > input{
    border-color: #265078;
    border-width: 2.5px;
}

/*movies*/
section {
    margin: 8px;
}

div.movies {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    border: 1px solid #edf2f9;
    border-radius: 0 0 10px 10px;
    flex-wrap: wrap;
}

div.movie {
    box-sizing: border-box;
    width: 19.3%;
    border: 1px solid white ;
    border-radius: 10px;
    height: 490px;
    margin: 4px;
    margin-top: 10px;
    border-top: transparent;
}

div.movie img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-style: none;
}

div.movie a {
    text-decoration: none;
    color: white;
}

div.content-mv {
    padding-left: 1rem;
}

/*subject*/
.subject {
    text-align: center;
    background-image: linear-gradient(to top, #13547a 0%, #0c3483 100%);
    color: whitesmoke;
    margin-bottom: 0;
    padding: 1rem;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

/*btn-more*/
div.movies > div.btn > a > button {
    color: #f2f2f2;
    font-weight: bold;
    font-size: large;
    padding: 18px 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 540px;
    background-color: #2f4455;
    border-radius: 20px;
    border: 1px solid  #edf2f9;
}

div.btn  a {
    text-decoration: none;
    
}

i.fa-arrow-down-long {
    animation: more 1s infinite;
}

@keyframes more {
    0%, 100% {
        transform: translateY(-30%);
        animation-timing-function: cubic-bezier(.8,0,1,1);
    }
  
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,.2,1);
    }
}

/* go to top */
#go {
    display: block;
    padding: 1rem;
    right: 10px;
    bottom: 10px;
    position: fixed;
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 0.35em 0.35em 0 0 rgba(15, 28, 63, 0.125);
    border: 1px solid #edf2f9;
}

#go i {
    color: #6f2232;
}

/*footer*/
footer {
    background-color: #010101;
    color: #d2d2d2;
}

footer div {
    justify-content: space-around;
}

div.imgFooter {
    width: 14%;
}

div.imgFooter img{
    width: 50%;
    border-radius: 40%;
    border: 2px solid transparent;
    box-shadow: 0.5em 0.5em 0 0 #262626;
}

ul.list-ft > li:first-child{
    list-style-type: none;
    color: #edf2f9;
}

ul.list-ft > li {
    list-style-type: "\27A2 \2003";
    margin: 3px;
}

.list-ft > li > a {
    text-decoration: none;
    color: #d2d2d2;
}

.list-ft > li > a:hover {
    color: #edf2f9;
    font-weight: bold;
}

div.footer {
    width: 30%;
}

div.footer img{
    width: 100%;
}

table {
    border-spacing: 10px;
    width: 330px;
}

a.link {
    text-decoration: none;
    color: #d2d2d2;
}

a.link:hover {
    color: #edf2f9;
    font-weight: bold;
}

/*cinema*/
div.cinemas {
    padding: 8px;
    flex-wrap: wrap;
}

div.cinema {
    width: 48%;
    justify-content: space-around;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 20px;
    margin-top: 10px;
    height: 141px;
}

div.cinema  img {
    width: 45%;
    border-radius: 10px 10px 0 0;
    padding-left: 40px;
    padding-top: 15px;
}

div.cinema a {
    text-decoration: none;
    color: #262626;
}

div.content-cm {
    padding-right: 2rem;
}





