nav {
    border: 2px solid #9e9d99;
    border-radius: 5px;
    background-color: #fefefe;
    height: 85px;
}

/*Search*/
section.left > div {
    margin: 20px;
    top: 0;
}

section.left {
    width: 30%;
    position: relative;
    top: 0;
    margin-left: 8px;
}

section.left > div a{
    text-decoration: none;
}

div.search {
    margin-bottom: 10px !important;
}

div.search a {
    text-decoration: none;
}

div.search  > a > i {
    color: #413e3e;
}

div.search  > a > input{
    border-radius: 0.3rem ;
    width: 200px;
    height: 25px;
    border-style: solid;
    border-color: #9e9d99;
}

div.search  > a:hover > input{
    border-color: #265078;
    border-width: 2.5px;
}

/*ul#suggest*/
ul#suggest {
    display: none;
    width: 35%;
    margin-left: 15px;
    padding: 5px;
    padding-left: 15px;
    background-color: #f0eded;
    border-radius: 8px;
    position: relative;
    box-shadow: 5px 5px 5px #464444;
    margin-top: 0;
}

ul#suggest > li {
    list-style-type: none;
    margin: 5px;
}

ul#suggest > li > a{
    text-decoration: none;
    color: #262626;
    font-weight: bold;
}

ul#suggest::after {
    border-style: solid;
    border-color: transparent transparent #f0eded transparent;
    border-width: 10px;
    position: absolute;
    bottom: 100%;
    content: "";
    width: 0;
    height: 0;
    left: 24px;
}

/*cinema*/
section.right {
    width: 70%;
    
}

section.cinemaLoca > div:nth-child(2) > a > select{
    height: 40px;
    width: 170px;
    border-radius: 2px;
}

div.theater {
    border: 1px solid;
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 8px;
    box-shadow: 5px 5px 3px #cecccc;
    background-color: #ffffff;
}

div.theater:hover {
    border: 2px solid;
}

div.theater  img {
    width: 40%;
    padding-top: 8px;
    padding-bottom: 0;
}

div.mvTheater a {
    text-decoration: none;
    color: #262626;
}

div.content {
    width: 70%;
    padding-right: 100px;
}

@media screen and (max-width: 600px) {
    body {
        background-color: beige;
    }
}

