nav {
    border: 2px solid #9e9d99;
    border-radius: 5px;
    background-color: white;
    height: 85px;
}

/*select*/
div.select {
    width: 20%;
}

div.select > ul {
    margin: 5px;
}

ul.cates {
    padding: 2px 5px;
    margin: 0;
}

ul.cates a {
    text-decoration: none;
    color: #010101;
    margin: 3px;
}

ul.cates li {
    list-style-type: none;
}

ul.cates > li:first-child {
    border: 1px solid;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    height: 22px;
    padding-top: 4px;
}

ul.cates > li:nth-child(2) {
    padding-left: 25px;
}

ul.cate {
    border: 1px solid;
    width: 9%;
    display: none;
    position: absolute;
    border-radius: 5px;
}

ul.cates:hover ul.cate {
    display: block ;
    padding-left: 30px;
    z-index: 3;
    background-color: #d2d2d2;
}

ul.cate > li {
    list-style-type: none;
    margin: 4px;
}

ul.cate > li > a {
    text-decoration: none;
    color: #010101;
    margin-left: 1px;
    display: block;
    padding: 1px;
}

/*movies*/
div.movies  {
    flex-wrap: wrap;
    width: 80%;
}

div.movie {
    width: 18%;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
    height: 400px;
    margin: 9px;
}

div.movie img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-style: none;
}

div.content-mv {
    padding-left: 1rem;
}

div.content-mv h3 {
    font-size: medium;
}

h1 {
    text-align: center;
    border: 1px solid;
    padding: 5px;
    background-image: linear-gradient(to right, #b92b27 0%, #1565c0 100%);
    color: whitesmoke;
}



