body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    border: 2px solid #9e9d99;
    border-radius: 5px;
    background-color: white;
    height: 85px;
}

.flex {
    display: flex;
    align-items: center;
}

.between {
    justify-content: space-between;
}

/*MENU*/
ul.menu {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul.menu > li > a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: #4d6e9b;
    font-weight: bold;
    
}

ul.left {
    width: 50%;
}

ul.right {
    width: 20%;
    margin-left: 250px;
}

ul.right > li {
    margin: 20px;
}

/*hover*/
ul.menu > li > a:hover {
    color: #265078;
    font-size: larger;
    font-weight: bolder;
}

ul > li > a > i.fa-solid {
    color: #4d6e9b;
    padding: 0.5rem;
}

ul > li > a:hover i.fa-solid {
    color: #265078;
}

/*submenu*/
ul.submenu { 
    display: none;
    position: absolute;
    background-color: #f3f1f4 !important;
    width: 200px;
    border-radius: 2rem;
    text-align: left;
    z-index: 2;
}

.submenu::after {
    border-style: solid;
    border-color: transparent transparent #f3f1f4 transparent;
    border-width: 10px;
    position: absolute;
    bottom: 100%;
    content: "";
    width: 0;
    height: 0;
    left: 34px;
}

ul.menu li.sub:hover ul.submenu { 
    display: block !important;
    padding: 0.375rem 1.5rem;
    clear: both;
    font-weight: initial;
    color: #6e84a3;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/* go to top */
#go {
    display: block;
    padding: 1rem;
    right: 10px;
    bottom: 10px;
    position: fixed;
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 0.35em 0.35em 0 0 rgba(15, 28, 63, 0.125);
    border: 1px solid #edf2f9;
}

#go i {
    color: #6f2232;
}

/*footer*/
footer {
    background-color: #010101;
    color: #d2d2d2;
}

footer div {
    justify-content: space-around;
}

div.imgFooter {
    width: 14%;
}

div.imgFooter img{
    width: 50%;
    border-radius: 40%;
    border: 2px solid transparent;
    box-shadow: 0.5em 0.5em 0 0 #262626;
}

ul.list-ft > li:first-child{
    list-style-type: none;
    color: #edf2f9;
}

ul.list-ft > li {
    list-style-type: "\27A2 \2003";
    margin: 3px;
}

.list-ft > li > a {
    text-decoration: none;
    color: #d2d2d2;
}

.list-ft > li > a:hover {
    color: #edf2f9;
    font-weight: bold;
}

div.footer {
    width: 30%;
}

div.footer img{
    width: 100%;
    height: 206px;
}

table {
    border-spacing: 10px;
    width: 330px;
}

a.link {
    text-decoration: none;
    color: #d2d2d2;
}

a.link:hover {
    color: #edf2f9;
    font-weight: bold;
}

/*Search*/
div.search a {
    text-decoration: none;
}

div.search  > a > i {
    color: #413e3e;
}

div.search  > a > input{
    border-radius: 0.3rem ;
    width: 200px;
    height: 25px;
    border-style: solid;
    border-color: #9e9d99;
}

div.search  > a:hover > input{
    border-color: #265078;
    border-width: 2.5px;
}

/*cinema*/
section.cinema > div {
    margin: 20px;
}

section.cinema > div:nth-child(2) > a > select{
    height: 40px;
    width: 170px;
    border-radius: 2px;
}

div.mvTheater {
    border: 1px solid;
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 4px;
}

div.mvTheater  img {
    width: 12%;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

div.mvTheater a {
    text-decoration: none;
    color: #262626;
}

div.content {
    width: 70%;
    padding-right: 100px;
}

/*aside*/
aside > h3{
    right: 0;
}

